#corpusInput
{
	/*
	The layout can get really screwed up if the user resizes the
	<textarea> horizontally.
	*/
	resize: vertical;
}

/*
Ensure that on small screens, the generated word consistently appears on its
own line.  Otherwise, the generate button could jump around the screen when
new words are displayed and the text wrapping changes.  (767px corresponds to
Bootstrap's transition between xs and sm styles.)
*/
@media (max-width: 767px)
{
	#word
	{
		display: block;
	}
}

@media (max-width: 991px)
{
	.page-header small
	{
		display: block
	}
}
